.photo{
    border-radius: 50%;
    border: black solid 2px;
}

body{
    background-color: beige;
    max-width: 900px;
    margin: auto;

#title, .subtitle, .post_title {
    color: black;
    font-family: sans-serif;

}
.post_title{
     font-size: 22px;
     font-style: bolder;
     font-weight: bolder;
     text-decoration: underline;

}
.subtitle{
    font-size: 32px;
    font-style: bolder;
  
}
#title{
    font-size: 48px;
    font-style: oblique;
}
.post{
    background-color: white;
    padding: 15px;
    border-top: 4px dotted palevioletred;
    border-right: 4px solid black;
    border-bottom:4px double greenyellow;
    border-left: 4px dashed  blue;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 500px;
    
    
    
}
.post.content{
    font-size: 20px;
    font-weight: initial;
    font-family: sans-serif;
    margin-bottom: 15px;
}
.image{
    margin-bottom: 15px;
    width: 100%;
    
}
.footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}
.list{
    list-style-type: square;
    padding-left: 15px;
}
