.photo{
    border-radius: 50%;
    border: black solid 2px;
}

body{
    background-color: beige;
}

#title, .subtitle, .post_title {
    color: black;

}
.post_title{
     font-size: 16px;
     font-style: italic;
}
.subtitle{
    font-size: 32px;
    font-style: inherit;
}
#title{
    font-size: 40px;
    font-style: oblique;
}
.post{
    background-color: white;
    padding: 15px;
    border-top: 4px dotted palevioletred;
    border-right: 4px solid black;
    border-bottom:4px double greenyellow;
    border-left: 4px dashed  blue;
    margin-bottom: 15px;
    border-radius: 15px;
}
.post.content{
    margin: 0px;
    margin-bottom: 15px;
}
.post.image{
    margin-bottom: 15px;
    

}
