#title, .subtitle, .post_title {
    color: blue;

}
.post_title{
     font-size: 16px;
     font-style: italic;
}
.subtitle{
    font-size: 32px;
    font-style: inherit;
}
#title{
    font-size: 40px;
    font-style: oblique;
}